.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.footer{
    text-align: center;
    margin-top: 110px;
    background-color: rgba(0,0,0,0.644);
    color:white;
}